<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.hello-world"
        versionCode ="4.2"
        version     = "1.0.0">

    <name>File Api</name>

    <description>
        File APi Test app
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        Prantik Vaghela
    </author>
    <gap:platform name="android" />
    <preference name="phonegap-version" value="3.6.3" /> 
    <plugin name="File" value="org.apache.cordova.FileUtils" />
    <plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
    <gap:plugin name="org.apache.cordova.core.camera" />

</widget>
